@font-face
{
    font-family: "DefaultFont";
    src: url("fonts/Minecraftia.ttf") format("truetype");
}
body
{
    margin: 0px;
    font-family: DefaultFont;
    background-image: url("images/ui/bg.gif");
    color: white;
}

.button 
{
    position: relative;
    background-image: url("images/ui/button.png");
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 100%;
    color: white;
    top: -40%;
}
.button:hover
{
    background-image: url("images/ui/button_over.png");
    color: yellow;
}

.navbar
{
    background-image: url("images/ui/top-bg.gif");
    padding: 0px;
    margin: 0px;
    height: 48px;
}

.logo
{
    width: 48px;
}

.thumbnail
{
    background-image: url("images/ui/wood.png");
    width: 128px;
    height: 150px;
    padding: 15px;
    display: inline-block;
    margin: 20px;
}

.Image
{
    width: 100%;
}

.History
{
    padding: 3px;
    margin: 3px;
}

.GrayWool
{
    margin: 10px;
    background-image: url("images/ui/wool/color13.png");
}

.GreenWool
{
    background-image: url("images/ui/wool/color4.png");
}

.BlueWool
{
    background-image: url("images/ui/wool/color7.png");
}

.PurpelWool
{
    background-image: url("images/ui/wool/color9.png");
}

.PinkWool
{
    background-image: url("images/ui/wool/color11.png");
}

.RedWool
{
    background-image: url("images/ui/wool/color0.png");
}